*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
    --parts_heading-font:'Raleway', sans-serif;
    --big_font:'Rubik', sans-serif;
    --normal_font:'Libre Franklin', sans-serif;
}
body{
    /* font-family: var(--normal_font);
    font-size: 30px;
    background-color: black;
    color: white;  */
    overflow-x:hidden;
    
    
}
/* -----------------------------starting first part-------------------------------------- */
    .first{
        position: relative;
        height: 609px;
        background-image: url(../images/landing.jpg);
        margin-bottom: 80px;
        z-index: 100;
    }
    .first::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #111011a1;
        z-index: -1;
        backdrop-filter: blur(1px);
    }
        /* ------------------starting nav--------------- */
        /* logo */
        .first nav .n_left img{
            width: 120px;
            padding-top: -10px;
            position: absolute;
            top: 20px;
        }
    .first nav {
        display: flex;
        justify-content: space-between;
        margin: 0px 70px;
        padding-top: 40px;
        border-bottom: 1px solid white;
        z-index: 1;
        
    }
    .first nav ul{
        list-style-type: none;
        list-style-position: inside;
        font-family: var(--normal_font);
        font-size: 14px;
        color: white;
    }
   
    .first nav ul li{
        display: inline-block;
        padding: 0 7.5px;
        width: fit-content;
        padding-bottom: 35px;
        cursor: pointer;
    }
    .first nav ul li:nth-child(6){
        margin-right: 35px;
    }
    
    .first nav ul li:hover{
        color: #00C7FC;
        border-bottom: 1px solid #00C7FC;
        transition-duration: 0.4s;
    }
    .first nav ul img{
        width: 20px;
        height: 20px;
        margin-bottom: -5px;
        border-left: 1.4px solid rgb(255, 255, 255);
        padding:5px 0px 5px 10px;
        box-sizing: content-box;
    }
    .first nav  .menu {
        width: 30px;
        height: fit-content;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3 , auto);
        row-gap: 5px;
        padding: 0;
        margin-top: -10px;
        position: absolute;
        right: 15%;
        top: 55px;
        visibility: hidden;
    }
    .first nav  .menu div{
        width: 100%;
        height: 2px;
        background-color: white;
    }

    /* mobile list */
    .first .mobile_list{
        color: white;
        background-color: rgba(0, 0, 0, 0.459);
        position: absolute;
        z-index: 100;
        width: 100%;
        visibility: hidden;
        
    }
    .first .mobile_list li{
        padding: 10px 20px;
        font-family: var(--normal_font);
    }
    .first .mobile_list li:first-child{
        border-bottom: 1px solid #00C7FC;
    }
    .first .mobile_list::after{
        content: "";
        position: absolute;
        width: 30px ;
        height: 24px;
        top:-64px;
        right: 18%;
        z-index: 100;
        visibility: hidden;
    }
    .first .mobile_list:hover{
        visibility: visible;
    }



    /* ------------------end nav--------------- */

    /* -------------starting the content------- */
    .first .first_content{
        position: relative;
    }
     /* for the arrows */
    .first .first_content img{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 1%;
        bottom: 50%;
        z-index: 100;
    }
    .first .first_content img:nth-child(2){
        left: 0%;
        bottom: 50%;
        transform: rotate(180deg) translate(-50%);
        -webkit-transform: rotate(180deg) translate(-50%);
        -moz-transform: rotate(180deg) translate(-50%);
        -ms-transform: rotate(180deg) translate(-50%);
        -o-transform: rotate(180deg) translate(-50%);
}
    .first .first_content .one{
        color: white;
        background-color: #08a6d654;
        margin-top: 40px;
        padding: 60px;
        padding-top: 20px;
        padding-right: 80px;
        padding-left: 80px;
        width: fit-content;
        height: fit-content;
    }
    .first .first_content .one h1{
        font-family: var(--normal_font);
        line-height: 50px;
        font-weight: normal;
        word-spacing: 3px;
    }
    .first .first_content .one p{
        font-family: var(--normal_font);
        text-transform: none;
        line-height: 25px;
    }
        /* -------------end the content------- */

        /* -------------move from img to img------- */

        .move {
            position: absolute;
            bottom: 1%;
            left: 46%;
            transform: translatey(-50%);
            -webkit-transform: translatey(-50%);
            -moz-transform: translatey(-50%);
            -ms-transform: translatey(-50%);
            -o-transform: translatey(-50%);
            width: fit-content;
            height: fit-content;
            display: flex;
            z-index: 100;
}
.move div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid white;
    margin-left: 5px;
}
    .move div:nth-child(2){
    background-color: #19C8FA;
}

/* -----------------------------starting of services-------------------------------------- */
                    /* -------------starting of services logo------------------ */
.services{
    margin-bottom: 60px;
}
.services .logo{
    position: relative;
    width: 350px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.services .logo h1{
    font-family: var(--parts_heading-font);
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.services .logo h1::before{
    content: "";
    position: absolute;
    width: 130px;
    height: 2px;
    background-color: black;
    bottom: -9%;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}

.services .logo h1::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -13px;
    left: 50%;
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.services .logo h3{
    margin-top: 40px;
    font-weight: 100;
    text-align: center;
    font-size: 17px;
    font-family: var(--big_font);
    color: rgba(0, 0, 0, 0.39);
}
/* -------------end of services logo------------------ */
.services .s_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}
.services .s_content>div{
    width: 40%;
    position: relative;
    margin-top: 40px;
}
.services .s_content>div h3{
    font-family: var(--big_font);
    color: #19C8FA;
    display: inline-block;
    margin-bottom: 30px;
    position: absolute;
    top: 15px;

}
.services .s_content>div p{
    font-family: var(--normal_font);
    color: rgba(0, 0, 0, 0.678);
}
.services .s_content>div img{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 14px;
    
}
/* -----------------------------end of services-------------------------------------- */


/* -----------------------------start of mobile-------------------------------------- */
.mobile{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../images/design-features.jpg);
    color: white;
    z-index: -1;
    overflow-y: hidden;
    margin-bottom: 60px;
}
.mobile::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: -1;
}
.mobile img{
    position: absolute;
    top: 34%;
    left: 10%;
}
.mobile .content{
    position: absolute;
    right: 0;
    background-color: #08a6d654;
    padding: 60px;
    padding-right: 200px;
}
.mobile .content h2{
    font-family: var(--parts_heading-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.mobile .content h2 span{
    font-family: vra(--big_font);
    font-weight: bold;
}
.mobile .content ul{
    font-family: var(--normal_font);
    list-style-type:none;
    list-style-position: inside;
}
.mobile .content ul li {
    position: relative;
    margin-bottom: 30px;
}
.mobile .content ul li img{
    width: 60px;
    height: 60px;
    display: inline;
    position: absolute;
    left: -50px;
    top: -20px;
}
/* -----------------------------end of mobile------------------------------------------- */

/* -----------------------------start of portfolio-------------------------------------- */


.portfolio{
    margin-bottom: 60px;
}
.portfolio .logo{
    position: relative;
    width: 350px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.portfolio .logo h1{
    font-family: var(--parts_heading-font);
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.portfolio .logo h1::before{
    content: "";
    position: absolute;
    width: 130px;
    height: 2px;
    background-color: black;
    bottom: -9%;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}

.portfolio .logo h1::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -13px;
    left: 50%;
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.portfolio .logo h3{
    margin-top: 40px;
    font-weight: 100;
    text-align: center;
    font-size: 17px;
    font-family: var(--big_font);
    color: rgba(0, 0, 0, 0.39);
    margin-bottom: 90px;
}
.portfolio ul{
    list-style-type:none;
    list-style-position: inside;
    font-family: var(--normal_font);
    font-weight: bold;
    text-align: center;
}
.portfolio ul li{
    display: inline-block;
    padding: 10px;
    margin-right: 3px;
    cursor: pointer;
    width: fit-content;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.portfolio ul li:first-child{
    background-color: #19C8FA;
    color: white;
}
.portfolio ul li:not(:first-child):hover{
    background-color: #19C8FA;
    color: white;
    transition-duration: 0.3s;
}
.portfolio .images{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    row-gap: 3px;
    margin-bottom: 40px;
}
.portfolio .images div{
    overflow: hidden;
    position: relative;
}
.portfolio .images div::after{
    content: "awesome image";
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: white;
    color: black;
    bottom:-35%;
    right: 0;
    font-family: var(--normal_font);
    font-weight: bold;
    text-align: center;
}

.portfolio .images div:hover::after
{
    bottom: 0;
    transition-duration: 0.5s;
}
.portfolio .images div img{
    width: 100%;
    position: relative;
}
.portfolio .images div img:hover{
    transform: rotate(5deg) scale(150%);
    -webkit-transform: rotate(5deg) scale(150%);
    -moz-transform: rotate(5deg) scale(150%);
    -ms-transform: rotate(5deg) scale(150%);
    -o-transform: rotate(5deg) scale(150%);
    transition-duration: 0.5s;
}
.portfolio a{
    margin-left: 47%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.portfolio  button{
    padding: 15px;
    background-color: #19C8FA;
    color: white;
    border: none;
    text-transform: uppercase;
    
}
/* -----------------------------end of portfolio-------------------------------------- */

/* -----------------------------start of video-------------------------------------- */
.video{
    position: relative;
    margin-bottom:80px;
}
.video::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.397);
    
}
.video video{
    width: 100%;
    
}

.video .text{
    position: absolute;
    text-align: center;
    font-family: var(--normal_font);
    font-weight: bold;
    background-color: #00c5fc6c;
    color: white;
    line-height: 60px;
    padding: 40px;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 100%;
    height: 260px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.video .text h3{
    font-weight: normal;
}
.video .text p{
    background-color:black;
    text-transform: capitalize;
    font-weight: normal;
    line-height: normal;
    height: fit-content;
    cursor: context-menu;
    width: 110px;
    padding: 3px ;
    font-size: 20px;
    margin-left: 45%;
}

/* -----------------------------end of video-------------------------------------- */

/* -----------------------------start of about us-------------------------------------- */
.about_us{
    position: relative;
    margin-bottom: 60px;
}
.about_us>img{
    position: absolute;
    z-index: -1;
    top: 200px;
    left: 45%;
    width: 60%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.about_us .logo{
    position: relative;
    width: 350px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.about_us .logo h1{
    font-family: var(--parts_heading-font);
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.about_us .logo h1::before{
    content: "";
    position: absolute;
    width: 130px;
    height: 2px;
    background-color: black;
    bottom: -9%;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}

.about_us .logo h1::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -13px;
    left: 50%;
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.about_us .logo h3{
    margin-top: 40px;
    font-weight: 100;
    text-align: center;
    font-size: 17px;
    font-family: var(--big_font);
    color: rgba(0, 0, 0, 0.39);
    margin-bottom: 90px;
}
.about_us .content{
    background-image: url("../images/stats.png");
    padding: 60px 180px;
    position: relative;
    z-index: -1;
    margin-top: 250px;
    height: fit-content;
}
.about_us .content::after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    
}
.about_us .content>div{
    display: flex;
    background-color: #135e75d3;
    justify-content: space-evenly;
    padding: 80px;
    z-index: 100;
    flex-wrap: wrap;
}
.about_us .content div>div{
    width: 25%;
    color: white;
    font-family: var(--normal_font);
    line-height: 60px;
    text-align: center;
    
}
.about_us .content div>div img{
    background-color: black;
    box-sizing: initial;
    width: 30px;
    height: 30px;
    padding: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about_us .content div>div h1{
    font-size: 60px;
    font-family: var(--big_font);
}
.about_us .content2{
    display: flex;
    
}
.about_us .content2 .one,
.about_us .content2 .two
{
    width: 50%;
    font-family: var(--normal_font);
    padding: 60px;
}
.about_us .content2>div div{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.about_us .content2>div div:first-child{
    flex-direction: column;
}
.about_us .content2>div div h3{
    text-transform: uppercase;
    text-align: center;
}
.about_us .content2>.one>div:not(:first-child) p{
    text-align: left;
    color: black;
    line-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
    width: calc(100%-160px);
    margin-left: 40px;
}
.about_us .content2>div>div:first-child p{
    text-align: center;
    line-height: 30px;
    font-family: var(--normal_font);
    color: rgba(0, 0, 0, 0.788);
}
.about_us .content2>div div span{
    width: 100%;
    text-align: right;
    margin-left: 70%;
    color: rgba(0, 0, 0, 0.733);
    font-weight: normal;
}
.about_us .content2>div div img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100px;
    height: 100px;
}
.about_us .content2 .two .score{
    display: flex;
    flex-direction: column;
}
.about_us .content2 .two .score div{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    position: relative;
}
.about_us .content2 .two .score  p{
    margin-top: 10px;
    font-weight: 600;
}
.about_us .content2 .two .score div::before,
.about_us .content2 .two .score div::after{
    position: absolute;
    top: -30px;
    content: "";
    left: 90%;
    
}
.about_us .content2 .two .score div::after{
    padding: 3px;
    top: -40px;
    left: 85.5%;
    background-color: black;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.about_us .content2 .two .score .ADOBE{
    background-image: linear-gradient(
        to right,
        #19C8FA 90%,
        #DEDADC 90%
    );
}
.about_us .content2 .two .score .ADOBE::before{
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: black transparent transparent transparent;
    top: -15px;
    left: 88%;
}
.about_us .content2 .two .score div::after{
    content: "90%";
}
.about_us .content2 .two .score .HTMLCSS{
    background-image: linear-gradient(
        to right,
        #19C8FA 85%,
        #DEDADC 85%
    );
}
.about_us .content2 .two .score .HTMLCSS::before{
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: black transparent transparent transparent;
    top: -15px;
    left: 83%;
}
.about_us .content2 .two .score .HTMLCSS::after{
    content: "90%";
    left: 80.5%;
}
.about_us .content2 .two .score .JAVASCRIPT{
    background-image: linear-gradient(
        to right,
        #19C8FA 80%,
        #DEDADC 80%
    );
}
.about_us .content2 .two .score .JAVASCRIPT::before{
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: black transparent transparent transparent;
    top: -15px;
    left: 78%;
}
.about_us .content2 .two .score .JAVASCRIPT::after{
    content: "90%";
    left: 75.5%;
}
.about_us .content2 .two .score .PHP{
    background-image: linear-gradient(
        to right,
        #19C8FA 90%,
        #DEDADC 90%
    );
}
.about_us .content2 .two .score .PHP::before{
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: black transparent transparent transparent;
    top: -15px;
    left: 88%;
}
.about_us .content2 .two .score .PHP::after{
    content: "90%";
}
        /* -- -----------------------end of about us------------------

        -- -----------------------start of quoto------------------ */
    .quoto{
        background-image: url(../images/quote.jpg);
        padding: 100px 60px;
        position: relative;
        z-index: -1;
        text-align: center;
        color: white;
        margin-bottom: 80px;
    }
    .quoto::before{
        position: absolute;
        content: "";
        background-color: rgba(0, 0, 0, 0.767);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        
    }
    .quoto q{
        text-transform: none;
        font-size: 35px;
        font-family: var(--big_font);
    }
    .quoto p{
        font-family: var(--normal_font);
        font-size: 20px;
        margin-top: 20px;
    }
    /* -- -----------------------end of quoto------------------

        -- -----------------------start of pricing------------------ */
    .pricing{
        margin-bottom: 60px;
    }
    .pricing .logo{
        position: relative;
        width: 350px;
        left: 50%;
        transform: translatex(-50%);
        -webkit-transform: translatex(-50%);
        -moz-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
        -o-transform: translatex(-50%);
    }
    .pricing .logo h1{
        font-family: var(--parts_heading-font);
        font-weight: normal;
        font-size: 40px;
        text-align: center;
        position: relative;
    }
    .pricing .logo h1::before{
        content: "";
        position: absolute;
        width: 130px;
        height: 2px;
        background-color: black;
        bottom: -9%;
        left: 50%;
        transform: translatex(-50%);
        -webkit-transform: translatex(-50%);
        -moz-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
        -o-transform: translatex(-50%);
    }
    
    .pricing .logo h1::after{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        bottom: -13px;
        left: 50%;
        border: 2px solid black;
        background-color: white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transform: translatex(-50%);
        -webkit-transform: translatex(-50%);
        -moz-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
        -o-transform: translatex(-50%);
    }
    .pricing .logo h3{
        margin-top: 40px;
        font-weight: 100;
        text-align: center;
        font-size: 17px;
        font-family: var(--big_font);
        color: rgba(0, 0, 0, 0.548);
    }

    .pricing .prices{
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .pricing .prices div{
        width: calc(88%/4);
    }
    .pricing .prices .price{
        padding: 30px;
        border: 1px solid #00C7FC;
        border-color: #00C7FC transparent;
        width: 100%;
        text-align: center;
        background-color: #FCFCFC;
    }
    .pricing .prices .price h2{
        font-family: var(--normal_font);
        text-transform: uppercase;

    }
    .pricing .prices .price p{
        margin-top: 10px;
        font-size: 60px;
        font-family: var(--big_font);
        font-weight: bold;
    }
    .pricing .prices .price p sub,
    .pricing .prices .price p sup{
        font-weight: bold;
        font-size: 25px;
    }
    .pricing .prices .feature{
        width: 100%;
        padding: 0px 50px;
        text-align: center;
        text-transform: capitalize;
        border-bottom: 1px solid #00C7FC;
    }
    .pricing .prices .feature ul{
        list-style-type: none;
        list-style-position: inside;
    }
    .pricing .prices .feature ul li{
        font-family: var(--normal_font);
        font-size: 17px;
        padding: 25px 0px;
        border-bottom: 2px solid #00C7FC;
    }
    .pricing .prices .feature ul li:last-child{
        border-bottom: none;
    }
    .pricing .prices .buy_now{
        padding: 30px 0;
        width: 100%;
        text-align: center;
    }
    .pricing .prices .buy_now p{
        padding: 16px;
        width: 140px;
        font-size: 20px;
        border: 1px solid #00C7FC;
        color: #551A8B;
        font-family: var(--normal_font);
        cursor: pointer;
        margin-left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
}

